<?php 
/**
 * @category    Mana
 * @package     Mana_Filters
 * @copyright   Copyright (c) http://www.manadev.com
 * @license     http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */
/** 
 * @author Mana Team
 */
/* @var $this Mana_Filters_Block_Filter */
/* @var $filters Mana_Filters_Helper_Data */ $filters = Mage::helper(strtolower('Mana_Filters'));
/* @var $showmore ManaPro_FilterShowMore_Helper_Data */ $showmore = Mage::helper(strtolower('ManaPro_FilterShowMore'));
/* @var $jsonHelper Mana_Core_Helper_Json */
$jsonHelper = Mage::helper('mana_core/json');
?>
<div class="m-filter-popup">
<?php echo Mage::helper('mana_core')->getNamedHtml('mana_filters/markup', 'before_popup_items', array('block' => $this)) ?>
<ol class="m-rows">
    <li>
        <ol class="m-columns">
            <?php foreach ($this->getItems() as $_index => $_item) : /*@var $_item Mana_Filters_Model_Item */ ?>
            <li <?php if ($_item->getMShowSelected()): ?>class="m-selected-ln-item"<?php endif; ?>>
                <?php if ($_item->getMSelected()): ?>
                <span class="m-selected-filter-item"><?php echo $this->escapeHtml($_item->getLabel()) ?></span>
                <?php else : ?>
                <?php if (!$this->getFilterOptions()->getDisableNoResultOptions() || $_item->getCount() > 0 || $_item->getMSelected()): ?>
                    <a href="#" title="<?php echo $this->escapeHtml($_item->getLabel()) ?>"
                       data-item="<?php echo $jsonHelper->encodeAttribute($_item->getSeoData()) ?>"
                       data-is-reverse="<?php echo $this->getFilterOptions()->getIsReverse() ?>"
                       data-index="<?php echo $_index ?>">
                       <?php echo $this->escapeHtml($_item->getLabel()) ?></a>
                    <?php else: echo $this->escapeHtml($_item->getLabel()) ?>
                    <?php endif; ?>
                <?php endif; ?>
                <?php if (Mage::getStoreConfigFlag('mana_filters/display/count')) : ?>
                    (<?php echo $_item->getCount() ?>)
                <?php endif; ?>
            </li>
            <?php endforeach; ?>
        </ol>
    </li>
</ol>
</div>
