	.menuclick{display:none;}
	span.menuclick {        padding: 10px 20px;    font-size: 18px;    margin: 0 auto; cursor: pointer;}
	span.menuclick:before {    content: "\f039";    font-family: fontawesome;    color: #000;}
	.menuright ul {    display: table;    margin: 0 auto;}

@media only screen and (max-width : 1170px) {
	.container{ width: 100%;}
	.head {    position: static;}
	.menu-bar {    min-height: auto;}
	.owl-carousel.owl-theme.owl-loaded.owl-drag {    clear: both;    display: block;}
	.top-left {    float: none;    display: table;    margin: 0 auto 10px;}
	.top-right {    float: none;    display: table;    margin: 0 auto;}
	a.logo {    display: table;    margin: 0 auto;    float: none;}
	ul.navbar {    margin: 10px auto 0;    display: table;    float: none;}
}

@media only screen and (max-width : 1024px) {
	.menuright li {    width: 50%;    text-align: center;    margin: 0 0;}
	.caption {    top: 50%;    transform: translateY(-50%);}
	.menuleft:after{display: none;}
}
@media only screen and (max-width : 979px) {
	
	.top-right > ul {    display: table;    margin: 0 auto 10px;}
	.caption p {    display: none;}
	.caption h1 strong span, .caption h1 strong {    font-size: 30px;    left: 0;    top: -9px;}
	.caption h1 {    font-size: 60px;}
	.caption h2 {    font-size: 40px;}
	.caption h2 strong {    font-size: 50px;    margin: 0 0;}
	.caption h4 {    font-size: 30px;}
	.caption a.btn {    display: none;}
	ul.homeservices li {    padding-left: 70px;}
	.menu-bar.fixed {    background-color: #fff;    z-index: 999;}
	.caption {    width: 100%; left: 0px;}
	.category-products.vert-slider {    width: 320px;    margin: 0 auto;}
	
	.category-products div#modal {    left: auto;    width: 300px !important;    right: auto;}
html #modal .modal-content {  width: 100%;    position: static;    background-color: #fff;    float: left;
    position: fixed;    left: 50%;    width: 90%;    top: 10%;    transform: translateX(-50%);}
#modal .modal-content .product-popup-left {    width: 100%;    position: static;}
.product-popup-right {    width: 100%;}
.head .navbar  li.desktop-hide.mobile-hide {    display: none;}

}

@media only screen and (max-width : 767px) {
	ul.homeservices li {    width: 100%;    text-align: center;    margin: 10px 0;}
	.skip-content#header-cart {    position: absolute;    right: 0;    width: 300px;    top: 100%;    padding: 10px;z-index: 9999;}
	.head {    overflow: visible;}
	.newsletter i.fa.fa-envelope-o {    left: 20px;}
	.newsletter h6, .newsletter h4 {    padding-left: 60px;}
	li:hover ul.submenu {    display: block;    z-index: 99999;    top: 0;}
	.header {    overflow: visible;}
	.menuclick{display:block;}
	ul.navbar {    display: none;}
	ul.navbar {    position: absolute;    top: 90%;    z-index: 99;    background-color: #fff;    width: 200px;
    left: 50%;    transform: translateX(-50%);    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.2);}
	ul.navbar li {    width: 100%;    text-align: center;    margin: 0;    position: relative;}
	ul.navbar li a {    padding: 4px 0;    display: block;}
	ul.submenu li a {    text-align: center;    background-color: #fff;}
	ul.navbar {    display: none;}
	.menuleft , .menuright {    width: 100%;}
	span.menuclick {   display: table;   }
	.owl-carousel.owl-theme.owl-loaded .owl-nav{ display: none;}
/*	.specialproducts .owl-item .actions {    left: 50%;    transform: translateX(-50%);}*/
	.catalog-category-view .col-main {    padding: 0;}
	body.catalog-category-view .products-grid li.item {        width: 100%;    border: 1px solid #f1eded;    padding: 20px 0;}
	#narrow-by-list, #narrow-by-list2 {    float: left;    width: 100%;}
	.block-layered-nav .block-content > dl > dt:after {   right: 20px !important;    float: right;    left: auto !important;}
	.block-layered-nav .block-content > dl > dt {    padding-left: 10px;    padding-bottom: 5px;    padding-top: 5px;    margin-bottom: 5px;    margin-top: 5px;}
	.count-container {    display: none;}
	.m-filter-item-list li::before{left: 10px;}
	.banner-inner {    height: 35vw;}
	.nc-left, .nc-right {    width: 100%;}
	ul.product-image-thumbs {    position: static; width: 100%;}
	.footer h4{ margin-top: 20px;}
	.menuright{padding: 20px 25px;}
	.caption {    left: 0; bottom: auto;}
	.specialproducts.onsale {    clear: both;    margin-top: 20px;    float: left;    width: 100%;}
	.nc-left img {    display: table;    margin: 0 auto;}
	.specialproducts .owl-item .actions {    position: static;    float: none;    display: table !important;    margin: 0 auto;    transform: none;}
	.menu-bar.fixed {    position: static;}
	.top-right { display: none;}
	ul.navbar li img {    display: none;}
	ul.navbar  li.moblis , ul.navbar  li.moblis ~ li {    display: block;}
	ul.homeservices {    padding: 0 0;    margin: 0 auto;}
	.bestseller .price-box .old-price {    clear: both;    display: block;    float: none;}
	ul.homeservices {    padding: 0 0;    margin: 0 auto;}
	.bestseller .price-box .old-price .price {    clear: both;    display: block;}
	.bestseller .price-box .old-price {    clear: both;    display: block;    float: none;}
	.bestseller a.product-image {    width: 100%;    text-align: center;}
	.bestseller  .product-info {    width: 100%;    text-align: center;}
	.bestseller .price-box .special-price {    text-align: center;    width: 100%;}
	.bestseller {    display: none;}
	body.catalog-category-view .products-grid .actions {    min-height: auto;}
	.col-left.sidebar .no-display {    display: block !important;}
	.col-left.sidebar  p.block-subtitle.block-subtitle--filter {    display: none;}
	.col-left.sidebar #narrow-by-list {   border: 0;    padding: 0;}

	.toolbar {    padding: 0;}
	#modal .modal-content .product-popup-left img { max-width: 200px;    display: table;    margin: 0 auto;    position: static;    transform: none;}		
	ul.product-image-thumbs li {    width: auto;}

	.head .menuright img {    float: right;}
	.menuright li {    padding: 0 20px;}
	input[type=email], input[type=search], input[type=number], input[type=password], input[type=tel], input[type=text] {    width: 100%;    box-sizing: border-box;}
	.form-list .input-box {    width: 100%;}
	ul#cart-sidebar  li.item {    width: 100%;}
	.product-view .add-to-cart-buttons .button{    padding: 0px 20px;}
	.head li .product-name a , .head li .product-name p {    text-align: left;    width: 100%;    display: block;}
	.menu-bar .menuleft a.skip-link.skip-account {    width: 100%;}
	a.skip-link.skip-account.skip-active  ~ div#header-account {    display: block;    text-align: center;}
	a.skip-link.skip-account.skip-active  ~ div#header-account a {    text-align: center;}
	li:hover ul.submenu {    position: static;    margin: 0;    padding: 0;}
	.top-right {    display: table;}
	.top-right .toplinks li {    display: none;}

	.top-right > ul.toplinks {    float: left;}
	
	.top-right > ul.top-social {    float: right;    margin-top: 10px;}
	.head li.desktop-hide, .desktop-hide {    display: block;}
	html .sendpulse-popover.sendpulse-prompt {    top: 0 !important;    bottom: auto !important;}
	.storeloc ul.tabs li {    width: 48%;    margin: 2% 1% !important;}
	.locbox {    width: 70%;}
	div#mySecondDiv {    width: 97%;    top: 50%;}
	
	
.top-right > ul.toplinks {    width: 70%;}
.top-right > ul.top-social {    width: 30%;    margin-top: 5px;}
.topbar {    padding: 10px 0;}
.top-right .toplinks li.mobile-show {    display: inline-block;    overflow: hidden;}
ul.top-social li {    margin: 0 3px;}
html #google_translate_element {    top: 3px;}
.top-right .toplinks li.mobile-show {    display: inline-block;}
.top-right {   width: 100%;}
}

@media only screen and (max-width : 640px) {
	.foot-col2, .foot-col3 , .foot-col4 {    display: none;}
	.foot-col {    text-align: center;}
	.foot-col img {    display: table;    margin: 0 auto;}
	.foot-left , .foot-right {    float: none;    display: table;    margin: 3px auto;}
	.footer {    padding-top: 30px;    padding-bottom: 10px;}
	.foot-col1 ul li i {    padding: 10px 0;}
	form#search_mini_form {    bottom: -58px;    left: auto;    right: -50px;    top: auto;}
	form#search_mini_form {    right: -90px;    z-index: 9999;top: 50px;}
	.menuright ul {    width: 300px;}
	.skip-link {    border-right: 0 !important;}
	.menuleft {    padding: 0 0;}
	.deals .category-products {    border: 0;}
	.deals .actions span, .deals .actions button {      width: auto;    padding: 6px 4px;    font-size: 13px;    font-weight: 500;    background-color: #262262;}
	.specialproducts .product-info {    text-align: center;}
	.specialproducts .owl-item .actions {    margin: 0 auto;    float: none;    width: auto;}
	.specialproducts  p.special-price , .specialproducts  p.old-price {    clear: both;    display: block;    text-align: center;    width: 100%;    float: left;}
	.col-md-4.foot-col.foot-col1 p {    display: none;}
	.col-md-4.foot-col.foot-col1 ul {    margin-top: 15px;}
	.deals .title h3 {    font-size: 0;}
	.deals .title h3:before {    content: "Best seller";    font-size: 24px;}
	.col2-left-layout .sorter {    width: 50%;    float: left;    clear: none;}
.col2-left-layout .pager {    width: 50%;    float: right;    clear: none;}
.col2-left-layout .pager .pages {    float: right;}
ul.checkout-types.minicart li {    width: 47%;    margin: 0;    padding: 0;    position: static;}
.menuright ul {    max-width: 100%;    box-sizing: border-box;}

.products-grid > li {    width: 100%;}
.products-grid .product-image img {    min-width:  unset;}
}
@media only screen and (max-width : 480px) {
	.caption h4 {    font-size: 20px;}
	.newsletter .input-box {    width: 100%;}
	.newsletter .actions {    width: 100%;}
	.foot-left, .foot-right {    float: none;    display: table;    margin: 3px auto;}
	.top-left li {    margin-right: 10px;    font-size: 13px;}
	.top-right > ul.toplinks > li {    width: 50%;    text-align: center; margin:0px;}
	html #google_translate_element {    display: table;    margin: 0 auto;    float: none;}
	.top-right > ul.toplinks > li:nth-child(2n+2):after {    display: none;}
	a.logo{width: 80%;}	
	.menuleft {    padding: 0;}
	.caption h1 {    font-size: 35px;}
	.caption h1 strong span, .caption h1 strong {    font-size: 22px;    left: 0;    top: -5px;}
	.caption h2 {    font-size: 30px;}
	.caption h4 {    font-size: 16px;}


}


@media only screen and (max-width : 380px) {
	.top-left li {    margin-right: 5px;    font-size: 12px;}
}
@media only screen and (max-width : 320px) {

}
