<div class="storeloc">

  <ul class="tabs">
    <li class="tab-link current" data-tab="tab-1">Karachi Stores</li>
    <li class="tab-link" data-tab="tab-2">ISLAMABAD Stores</li>
    <li class="tab-link" data-tab="tab-3">FAISALABAD Stores</li>
    <li class="tab-link" data-tab="tab-5">LAHORE Stores</li>
    <li class="tab-link" data-tab="tab-6">HYDERABAD Stores</li>
    <li class="tab-link" data-tab="tab-7">Sialkot Stores</li>
  </ul>

  <div id="tab-1" class="tab-content current">
  
    <div class="locrow">    
      <div class="locbox">
        <strong> WALKEAZE ZAMZAMA </strong>
        <p>SHOWROOM NO. 2 15-C, 2ND LANE, MAIN ZAMZAMA BOULEVARD, PHASE 5, D.H.A., KARACHI.</p>
        <p>Tel: (021) 35868616-35871342.</p>
      </div>
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3621.386466043801!2d67.04034411483626!3d24.81645395313208!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3eb33ceea8d2e5cd%3A0x33174062c447d1fe!2sWalkeaze!5e0!3m2!1sen!2s!4v1506668260409" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
    <div class="locrow">
      <div class="locbox">
        <strong>WALKEAZE BADAR COMMERCIAL </strong>
        <p>SHOWROOM NO. 3-4 PLOT NO 19-C, BADAR COMMERCIAL 26 STREET NEAR KFC, PHASE-V EXT., D.H.A., KARACHI.</p>
        <p>TEL: (021) 3543983-35344063</p>
      </div>
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3621.8677432129384!2d67.04489416483605!3d24.799981903786808!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3eb33cfd8f7bbaad%3A0x2027b34145ce0c89!2sWalkeaze+Shoe+Shop!5e0!3m2!1sen!2s!4v1506691967736" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
    <div class="locrow">
      <div class="locbox">
        <strong>WALKEAZE BAHADURABAD </strong>
        <p>PLOT NO 16, SHOW ROOM NO.7, BLOCK 3, BAHADURABAD, NEXT TO KFC &amp; IDEAS. KARACHI.</p>
        <p>TEL: (021) 34121723-34121724</p>
      </div>
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3619.484121454682!2d67.06464801483737!3d24.881463050543566!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3eb33eebae488637%3A0x2e92b39c4b1998c2!2sWalk+Eaze!5e0!3m2!1sen!2s!4v1506692495998" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
    
    <div class="locrow">
      <div class="locbox">
        <strong>WALKEAZE HYDERI</strong>
        <p>PLOT NO# 07 UPPER GROUND FLOOR HYDERI SHOPPING MALL GALLARY, BLOCK H, K.D.A. SCHEME NO. 2, NORTH NAZIMABAD. NEAR PARI MALL KARACHI.</p>
        <p>TEL: (021) 36641202</p>
      </div>
      
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3617.8677630377047!2d67.0399021150696!3d24.936574384018105!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3eb33f8169b49bc9%3A0x26f6abdbb2ea509d!2sHyderi+Market+Pedestrian+Overpass%2C+Karachi%2C+Pakistan!5e0!3m2!1sen!2s!4v1507215391950" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
    <div class="locrow">
      <div class="locbox">
        <strong>WALKEAZE TARIQ ROAD </strong>
        <p>SHOWROOM #2, 178/A, BLOCK II, MAIN TARIQ ROAD, KARACHI.</p>
        <p>TEL: (021) 34304655</p>
      </div>
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3619.8991600311156!2d67.05469961483715!3d24.867293451108203!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3eb33e8fc78a9103%3A0xad458cf822bbb53!2sWalkeaze+Tariq+Road!5e0!3m2!1sen!2s!4v1506692288367" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
    <div class="locrow">
      <div class="locbox">
        <strong>WALKEAZE PARKTOWER </strong>
        <p>SHOP NO.109, PARK TOWER CLIFTON, KARACHI.</p>
        <p>TEL: (021) 35370682</p>
      </div>
      
      <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d212.68030704253673!2d74.3773233!3d31.4723519!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3eb33da3152f823d%3A0x52ecd63e287bfba9!2sWalkEaze!5e0!3m2!1sen!2s!4v1507299202993" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
    
    <div class="locrow">
      <div class="locbox">
        <strong>WALKEAZE THE FORUM</strong>
        <p>SHOP NO.112, 1ST FLOOR, THE FORUM SHOPPING MALL, CLIFTON, KARACHI.</p>
        <p>TEL: (021) 35379457</p>

      </div>
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d905.2680184836869!2d67.03708962919801!3d24.827208716161895!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3eb33db635598c75%3A0xf3afe38e41ac2edf!2sWalk+Eaze!5e0!3m2!1sen!2s!4v1506693129123" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
    <div class="locrow">
      <div class="locbox">
        <strong>WALKEAZE TARIQ ROAD 2</strong>
        <p>PLOT # 172/X PECHS BLOCK 02, OPPOSITE TO ZAHID NIHARI, NEXT TO MAHROSE BEAUTY PARLOR, MAIN TARIQ ROAD, KARACHI.</p>
        <p>TEL: (021) 34520403-4</p>
      </div>
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3619.8991600311156!2d67.05469961483715!3d24.867293451108203!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3eb33e8fc78a9103%3A0xad458cf822bbb53!2sWalkeaze+Tariq+Road!5e0!3m2!1sen!2s!4v1506692288367" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
    <div class="locrow">
      <div class="locbox">
        <strong> WALKEAZE SAIMA SQUARE ONE </strong>
        <p>SHOW ROOM NO. 16-18 UPPER GROUND SAIMA SQUARE 1 MALL, GULISTAN-E-JOHAR NEXT TO MILLENNIUM MALL, KARACHI.</p>
        <p>TEL: (021) 34833513</p>
      </div>
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3618.8937568677275!2d67.11161851483776!3d24.90160534974035!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3eb33923c4c859f5%3A0x4ca89b0a2f59cf8d!2sSaima+Square+One+Mall!5e0!3m2!1sen!2s!4v1506693946905" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
    
  </div>
  <div id="tab-2" class="tab-content">
     <div class="locrow">
      <div class="locbox">
                    <strong> WALKEAZE CENTAURUS </strong>
            <p>SHOWROOM # 265 &amp; 266, 2nd FLOOR, CENTAURUS MALL, SECTOR # F8, ISLAMABAD.</p>
            <p>TEL: (051) 2701236</p>
      </div>
      
      
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3319.0405647363473!2d73.04777251501932!3d33.70789924324525!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x38dfbfb0f4f77379%3A0xf8c50b8651f56d02!2sCentaurus+Mall!5e0!3m2!1sen!2s!4v1506694354665" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
    
  </div>
  <div id="tab-3" class="tab-content">
    <div class="locrow">
      <div class="locbox">
        <strong> WALKEAZE FAISALABAD </strong>
        <p>PLOT # D-434, SHOP # 37/38, 1ST FLOOR, SITAR MALL, PEOPLES COLONY # 1, MCDONALD ROAD, HAIAN WALA CHOCK, FAISLABAD.</p>
        <p>TEL: (041) 8540462</p>
      </div>
    
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d27240.424326733824!2d73.0899087809383!3d31.412664685740037!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39226876b1a7e4b3%3A0x71efe953b278cfc2!2sPeople&#39;s+Colony+No+1%2C+Faisalabad%2C+Pakistan!5e0!3m2!1sen!2s!4v1506694438920" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>

    <div class="locrow">
      <div class="locbox">
        <strong> Walkeaze Satyana Road </strong>
        <p>Shop # B/3-334, Satyana Road,Ghatiyan Wala Chowk Peoples Colony 1, Faisalabad, Punjab Pakistan. </p>
        <p>TEL: (041) 8535240</p>
      </div>

      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3405.387721651949!2d73.1026050149661!3d31.40344206004899!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x392268098d72447b%3A0xb69754ad95ba959f!2sWalkEaze!5e0!3m2!1sen!2sin!4v1521612260628"  height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
    
  </div>
  <div id="tab-4" class="tab-content">
    <div class="locrow">
      <div class="locbox">
        <strong> WALKEAZE M.M.ALAM </strong>
        <p>SHOP # 96 B-2, GULBERG, 96 MALL, M.M.ALAM ROAD LAHORE.</p>
        <p>TEL: (042) 35755605-06</p>
      </div>
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3621.386466043801!2d67.04034411483626!3d24.81645395313208!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3eb33ceea8d2e5cd%3A0x33174062c447d1fe!2sWalkeaze!5e0!3m2!1sen!2s!4v1506668260409" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
    
  </div>
  <div id="tab-5" class="tab-content">
  <div class="locrow">
      <div class="locbox">
        <strong> WALKEAZE LINK ROAD </strong>
        <p>SHOP # 1/B, ADNAN PLAZA, MODEL TOWN LINK ROAD, BLOCK-B, PHASE-III, TOWN SHIP LAHORE.</p>
        <p>TEL: (042) 35443375</p>
      </div>
      <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d850.7834940785604!2d74.3153154!3d31.4655005!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xe01f3daf94679505!2sWalkease!5e0!3m2!1sen!2s!4v1507304884729" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
    
    <div class="locrow">
      <div class="locbox">
      
          <strong>WALKEAZE M.M.ALAM </strong>
          <p>SHOP # 96 B-2, GULBERG, 96 MALL, M.M.ALAM ROAD LAHORE.</p>
          <p>TEL: (042) 35755605-06 </p>
      
      </div>
    
      <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d1700.7775864686332!2d74.3485208!3d31.5089086!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xcc45b6563ad140b8!2sWalkEaze!5e0!3m2!1sen!2s!4v1507304702001" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
    
    <div class="locrow">
      <div class="locbox">
      
          <strong> WALKEAZE Y BLOCK </strong>
          <p>BUILDING # 143, Y-BLOCK PHASE-III, D.H.A., LAHORE CANTT</p>
          <p>TEL: (042) 35746603-04</p>
      
      </div>
    
      <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d1701.456571314069!2d74.3761636!3d31.4715754!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x184c489a5d031765!2sWalkEaze!5e0!3m2!1sen!2s!4v1507304597525" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
    
  </div>
  <div id="tab-6" class="tab-content">
    <div class="locrow">
      <div class="locbox">
        <strong>WALKEAZE BOULEVARD </strong>
        <p>SHOWROOM NO. A-14, FIRST FLOOR OF BOULEVARD MALL, AUTO BHAN ROAD S.I.T.E HYDERABAD. </p>
        <p>TEL: (022) 3413048</p>
      </div>
      <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d212.68030704253673!2d74.3773233!3d31.4723519!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x394c704d3f7d2e23%3A0x3b24a6c23a1f1718!2sBoulevard+Mall+Hyderabad!5e0!3m2!1sen!2s!4v1507299139793" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
      
    </div>    
  </div>


  <div id="tab-7" class="tab-content">
    <div class="locrow">
      <div class="locbox">
        <strong>Walkeaze Sialkot</strong>
        <p>Shop No: 303, Third Floor The Mall of Sialkot 100 Aziz Shaheed road, Sialkot Cantt.  </p>
        <p>TEL: 052-4291011</p>
      </div>
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3364.325535707952!2d74.55463931499133!3d32.517451504482345!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x391eeafcc54f16c1%3A0xfe04f4ffd78e6be1!2sThe+Mall+of+Sialkot!5e0!3m2!1sen!2sin!4v1521612818403" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
      
    </div>    
  </div>

</div>

<script>
  jQuery(document).ready(function(){
    
    jQuery('ul.tabs li').click(function(){
      var tab_id = jQuery(this).attr('data-tab');

      jQuery('ul.tabs li').removeClass('current');
      jQuery('.tab-content').removeClass('current');

      jQuery(this).addClass('current');
      jQuery("#"+tab_id).addClass('current');
    })

  })
</script>