#modal {
	left: 30%;
    margin: 0 auto;
    opacity: 0;
    position: fixed;
    top: 25% !important;
    visibility: hidden;
    z-index: 10000;
}
#modal .modal-content {
	background: #f7f7f7;
	position: fixed;
	z-index:10000;
	padding:15px;
	border-radius:5px;
	border-bottom: 1px solid #e7e7e7;
	transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-webkit-transition: all 0.4s ease-in-out;
	width:700px;	
}

.product-popup-left{
	margin-left: 1%;
    margin-right: 1%;
	width: 48%;
	float:left;
	}
.product-popup-left img{ width:100%;}	
.product-popup-right{
	width: 48%;
	margin-left: 1%;
    margin-right: 1%;
	float:left;
}
#modal .overlay {
	background-color: #000;
	background: rgba(0,0,0,.5);
	height: 100%;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 10;
}
#modal  .btn_close{ float:right;}
.quick_view_btn{
	background: #000 none repeat scroll 0 0;
    clear: both;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    margin-top: 66px;
    padding: 4px;
    text-decoration: none;
}