<?php
/*
/**
* Phxsolution Formbuilder
*
* NOTICE OF LICENSE
*
* This source file is subject to the Open Software License (OSL 3.0)
* that is bundled with this package in the file LICENSE.txt.
* It is also available through the world-wide-web at this URL:
* http://opensource.org/licenses/osl-3.0.php
* If you did not receive a copy of the license and are unable to
* obtain it through the world-wide-web, please send an email
* to license@magentocommerce.com so you can be sent a copy immediately.
*
* Original code copyright (c) 2008 Irubin Consulting Inc. DBA Varien
*
* @category   frontend template
* @package    Phxsolution_Formbuilder
* @author     Murad Ali
* @contact    contact@phxsolution.com
* @site       www.phxsolution.com
* @copyright  Copyright (c) 2014 Phxsolution Formbuilder
* @license    http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
*/
?>
<?php 
    $title = $this->field['title'];
    $id = $this->field['fields_index'];
    $isRequire = $this->field['is_require'];
    $defaultValue = $this->field['default_value'];
    
    $labelHtml = '<label for="">'.$title.'</label>';
    if($isRequire)
        $labelHtml = '<label class="required" for=""><em>*</em>'.$title.'</label>';
?>
<li>
    <?php echo $labelHtml; ?>
    <div class="input-box">
        <?php if($this->field['type']=='date_time' || $this->field['type']=='date'): ?>    
            <?php echo $this->getDateHtml($this->field) ?>
            <?php if (!$this->useCalendar()): ?>
                <script type="text/javascript">
                //<![CDATA[
                    Event.observe('options_<?php echo $id ?>_month', 'change', dateOption.reloadMonth.bind(dateOption));
                    Event.observe('options_<?php echo $id ?>_year', 'change', dateOption.reloadMonth.bind(dateOption));
                //]]>
                </script>
            <?php endif; ?>
        <?php endif; ?>
        <?php if($this->field['type']=='date_time' || $this->field['type']=='time'): ?>    
            <span class="time-picker">
                <?php echo $this->getTimeHtml($this->field) ?>
            </span>    
        <?php endif; ?>
        <input type="hidden" name="validate_datetime_<?php echo $id ?>" class="validate-datetime-<?php echo $id ?>" value="" />
        <script type="text/javascript">
            //<![CDATA[
            <?php if ($isRequire): ?>
                    Validation.addAllThese(
                    [
                           ['validate-datetime-<?php echo $id ?>', '<?php echo $this->jsQuoteEscape( Mage::helper('catalog')->__('This is a required option') )?>', function(v) {
                               var dateTimeParts = $$('.datetime-picker[id^="options_<?php echo $id ?>"]');
                               for (var i=0; i < dateTimeParts.length; i++) {
                                   if (dateTimeParts[i].value == "") return false;
                               }
                               return true;
                            }]
                    ]
                    );
            <?php else: ?>
                    Validation.add(
                        'validate-datetime-<?php echo $id ?>',
                        '<?php echo $this->jsQuoteEscape( Mage::helper('catalog')->__('Field is not complete') )?>',
                        function(v) {
                            var dateTimeParts = $$('.datetime-picker[id^="options_<?php echo $id ?>"]');
                            var hasWithValue = false, hasWithNoValue = false;
                            var pattern = /day_part$/i;
                            for (var i=0; i < dateTimeParts.length; i++) {
                               if (! pattern.test(dateTimeParts[i].id)) {
                                   if (dateTimeParts[i].value === "") {
                                       hasWithValue = true;
                                   } else {
                                       hasWithNoValue = true;
                                   }
                               }
                            }
                            return hasWithValue ^ hasWithNoValue;
                        }
                    );
            <?php endif; ?>
            //]]>
        </script>
    </div>
</li>