<?php
/*
/**
* Phxsolution Formbuilder
*
* NOTICE OF LICENSE
*
* This source file is subject to the Open Software License (OSL 3.0)
* that is bundled with this package in the file LICENSE.txt.
* It is also available through the world-wide-web at this URL:
* http://opensource.org/licenses/osl-3.0.php
* If you did not receive a copy of the license and are unable to
* obtain it through the world-wide-web, please send an email
* to license@magentocommerce.com so you can be sent a copy immediately.
*
* Original code copyright (c) 2008 Irubin Consulting Inc. DBA Varien
*
* @category   frontend template
* @package    Phxsolution_Formbuilder
* @author     Murad Ali
* @contact    contact@phxsolution.com
* @site       www.phxsolution.com
* @copyright  Copyright (c) 2014 Phxsolution Formbuilder
* @license    http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
*/
?>
<?php
$helper = Mage::helper('formbuilder');
$session = Mage::getSingleton('core/session');
if ($helper->isEnabled()): ?>
	<div class="formbuilder">
		<div class="page-title">
			<h1><?php echo $this->__('Formbuilder Extension'); ?></h1>
		</div>
		<div class="">
			<?php
				$formCollection = array();
	        	$formCollection = Mage::helper('formbuilder')->getFormCollection();
	        	if(count($formCollection))
	        	{
		        	echo "<ul>";
		        	foreach ($formCollection as $form)
		        	{
		        		$formUrl = Mage::getUrl('formbuilder/index/view')."id/".$form['forms_index'];
		        		echo "<li><a href='$formUrl'>".$form['title']."</a></li>";
		        	}
		        	echo "</ul>";
		        }
	        ?>
		</div>
	</div>
<?php endif; ?>