<?php
		$productid = Mage::app()->getRequest()->getParam('id');
		$_product  = Mage::getModel('catalog/product')->load($productid);
?>
<div class="product-popup-left">
	<img title="<?php echo $_product->getName() ?>" alt="<?php echo $_product->getName() ?>" src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize(500); ?>"></p>
</div>
<div class="product-popup-right">
	<form action="<?php echo Mage::helper('checkout/cart')->getAddUrl($_product); ?>" method="post" id="product_addtocart_form_popup" <?php if($_product->getOptions()): ?> enctype="multipart/form-data"<?php endif; ?>> 
	<div class="product-shop product-view product-view-quick">
	<script>
	 if ( document.location.href.indexOf('/quickview') > -1 ) {
				window.history.back();
				//window.location.replace("http://designscubix.com/demo/walkeaze/index.php/");
			}
	</script>
		<div class="product-name">
			<h1><?php echo $_product->getName() ?></h1>
		</div>

		<?php
		if($_product->isSaleable()){
			if($_product->stock_item->is_in_stock == 1){
				echo '<p class="availability in-stock"><span>'.$this->__('In stock.').'</span></p>';
			}else{
				echo '<p class="availability in-stock"><span>'.$this->__('Out of stock.').'</span></p>';
			}
		}
		?>

		<div class="price-box">
		
			<span class="<?php if($_product->getFinalPrice() < $_product->getPrice()):?>old-price<?php else: ?>regular-price<?php endif; ?>">
				<span class="price"><?php // echo $this->helper('checkout')->formatPrice($_product->getPrice()); ?>
				
				</span>
			</span>
			<span class="jq-price" style="opacity:0;"> 1</span>
			<?php  if($_product->getFinalPrice() < $_product->getPrice()):?>
			
			
			
				<?php $price = number_format($price,2);

				$formatedPrice = Mage::helper('core')->currency($price, true, false);

				echo '<span class="price">'.$formatedPrice.'</span>'?>
			
			
			
			<span class="special-price">
				<span class="price"><?php echo $this->helper('checkout')->formatPrice($_product->getFinalPrice()); ?></span>
			</span>	
			<?php endif; ?>
		</div>
		<div class="price-info">
			<?php // echo $_item->getPrice() ?>

<?php //  echo $_product->getFinalPrice() ?>

<?php  // echo $_product->getSpecialPrice() ?>
		</div>
		<?php
		if ($_product->getData('type_id') == "configurable"):
		$config = $_product->getTypeInstance(true);
		foreach($config->getConfigurableAttributesAsArray($_product) as $attributes):
		?>
			<div class="product-options">	
				<div><label class="required"><?php echo $attributes["label"]; ?><em>*</em></label></div>
				<div>
					<div class="input-box">
						<select name="super_attribute[<?php echo $attributes['attribute_id'] ?>]" id="attribute<?php echo $attributes['attribute_id'] ?>" class="validate-quickview-select" style="width:200px;">
							<option value=""><?php echo $this->__('Select'); ?></option>
							<?php
							foreach($attributes["values"] as $values)
							{
								echo "<option value='".$values["value_index"]."'>".$values["label"]."</option>";
							}
							?>
						</select>
					</div>										
				</div>
			</div>
		<?php
		endforeach;
		endif;
		?> 	
		<?php if($_product->isSaleable()): ?>
			<?php if(!$_product->isGrouped()): ?> 
			<div class="product_quantity">	
				<label for="qty"><?php echo $this->__('Qty') ?>:</label> 
				<input type="text" name="qty" id="qty" maxlength="12" value="<?php echo ($this->getMinimalQty($_product)?$this->getMinimalQty($_product):1) ?>" />
			</div>			
			<?php endif; ?> 
			<div class="add-to-box">
				<button class="button btn-cart btn-quickview" type="submit">
					<span><span><span><?php echo $this->__('Add to Cart') ?></span></span></span>
				</button>
			</div>		
			<ul class="add-to-links quicklinks">			                                                  

    <li><a href="<?php echo $this->helper('wishlist')->getAddUrl($_product) ?>" class="link-wishlist"><?php echo $this->__('Add to Wishlist') ?></a>  </li>
    <li><span class="separator">|</span><a href="<?php echo $this->helper('catalog/product_compare')->getAddUrl($_product) ?>"><?php echo $this->__('Add to Compare') ?></a></li>
	<li>
		<div class="view_full"><a href="<?php echo $_product->getProductUrl() ?>" target="_blank"><?php echo $this->__('View More Details'); ?></a></div>
	</li>

</ul>
<ul class="quick-share sharing-links">
<li> <a href="<?php echo $this->helper('catalog/product')->getEmailToFriendUrl($_product) ?>" class="link-email-friend"><span><span><?php echo $this->__('Email to a Friend') ?></span></span></a></li>
<li>
<a href="javascript:popWin('https://www.facebook.com/sharer/sharer.php?u=<?php echo urlencode($productUrl); ?>&t=<?php echo urlencode($productName); ?>', 'facebook', 'width=640,height=480,left=0,top=0,location=no,status=yes,scrollbars=yes,resizable=yes');" title="<?php echo $this->__('Share on Facebook') ?>" class="link-facebook">Facebook</a></li>
<li><a href="javascript:popWin('http://twitter.com/home/?status=<?php echo urlencode($productName . ' (' . $productUrl . ')'); ?>', 'twitter', 'width=640,height=480,left=0,top=0,location=no,status=yes,scrollbars=yes,resizable=yes');" title="<?php echo $this->__('Tweet') ?>" class="link-twitter">Twitter</a></li>
</ul>
		<?php endif; ?>
	
		
	</div>
	</form>	
</div>